.advantages-detail {
  justify-content: center;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &__wrap {
    display: flex;
    margin: 0 -140px;
    justify-content: center;
    @include laptop {
      margin: 0 -20px;
    }
    @include phones {
      margin: 0 -15px;
    }
  }

  &__item {
    margin: 0 140px;
    text-align: center;
    outline: none;
    @include laptop {
      margin: 0 20px;
    }
    @include phones {
      margin: 0 15px;
    }
  }

  &__img-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 85px;
    margin-bottom: 10px;
  }

  &__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }

  &__title {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    @include tablets {
      font-size: 14px;
    }
  }

  &__desc {
    color: #1d1d1d;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.2;
    @include phones {
      font-size: 12px;
    }
  }
}

