.delivery-section {
  &_indent_bottom {
    margin-bottom: 40px;
  }
  &__wrap {
    margin: 0 -7px;
    display: flex;
    @include tablets {
        flex-wrap: wrap;
    }

  }
  &__column {
    flex-grow: 1;
    margin: 0 7px;
    &_pos_1 {
      max-width: 250px;
      @include tablets {
        margin-bottom: 25px;
      }

    }
    &_pos_2 {


      padding-top: 5px;
      @include tablets {
          width: 100%;
      }

    }
  }
  &__main-title {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
  }
  &__search {
    max-width: 225px;
    margin-bottom: 45px;
    @include tablets {
      margin-bottom: 30px;
    }
  }
  &__note {
    font-size: 12px;

    color: #868686;
    line-height: 17px;
    a {
      color: #204BA0;
      text-decoration: none;
      font-weight: bold;
      font-size: 12px;
    }

  }

}