extend include/template_base

block variables
	-
		var title = 'Лэндинг';

	include include/blocks/top-screen
	include include/blocks/products-screen
	include include/blocks/main-menu



block content
	.main-container
		+main-menu()
		+top-screen(class="")
		.tagline
			span.tagline__title &#32; Alomart.ru
			span.tagline__desc — интернет-магазин товаров для защиты себя и близких
		+products-screen()








