mixin delivery-price(data)
	section.delivery-price.delivery-price_indent_bottom&attributes(attributes)
		.delivery-price__container
			.delivery-price__wrap
				.delivery-price__item
					.delivery-price__item-title Стоимости и сроки доставки на дом
					.delivery-price__inner-wrap
						.delivery-price__column.delivery-price__column_pos_1
							.delivery-price__list
								.delivery-price__inner-item
									.delivery-price__img-box
										img.delivery-price__img(src="assets/img/delivery-price.png", alt='')
									.delivery-price__content
										.delivery-price__title
											| Срок доставки
										.delivery-price__desc
											| от 1 дня
						.delivery-price__column.delivery-price__column_pos_2
							.delivery-price__list
								.delivery-price__inner-item
									.delivery-price__img-box
										img.delivery-price__img(src="assets/img/delivery-time.png", alt='')
									.delivery-price__content
										.delivery-price__title
											| Стоимость доставки
										.delivery-price__desc
											| от 12 000р


				.delivery-price__item
					.delivery-price__item-title Стоимости и сроки самовывоза
					.delivery-price__inner-wrap
						.delivery-price__column.delivery-price__column_pos_1
							.delivery-price__list
								.delivery-price__inner-item
									.delivery-price__img-box
										img.delivery-price__img(src="assets/img/delivery-price.png", alt='')
									.delivery-price__content
										.delivery-price__title
											| Срок доставки
										.delivery-price__desc
											| от 1 дня
						.delivery-price__column.delivery-price__column_pos_2
							.delivery-price__list
								.delivery-price__inner-item
									.delivery-price__img-box
										img.delivery-price__img(src="assets/img/delivery-time.png", alt='')
									.delivery-price__content
										.delivery-price__title
											| Стоимость доставки
										.delivery-price__desc
											| от 12 000р




