mixin delivery-box(data)
	section.delivery-box.delivery-box_indent_top&attributes(attributes)
		.delivery-box__container
			.delivery-box__wrap
				.delivery-box__item
					.delivery-box__img-box
						img.delivery-box__img(src="assets/img/logo-cdek.png", alt='')
				.delivery-box__item
					.delivery-box__img-box
						img.delivery-box__img(src="assets/img/log-boxberry.png", alt='')
				.delivery-box__item
					.delivery-box__img-box
						img.delivery-box__img(src="assets/img/logo-line.png", alt='')
				.delivery-box__item
					.delivery-box__img-box
						img.delivery-box__img(src="assets/img/logo-pek.png", alt='')
			.delivery-box__note
				|И любые другие по вашему выбору
