mixin delivery-company(data)
	section.delivery-company.delivery-company_indent_top&attributes(attributes)
		.delivery-company__container
			.delivery-company__wrap
				.delivery-company__item
					.delivery-company__img-box
						img.delivery-company__img(src="assets/img/logo-cdek.png", alt='')
				.delivery-company__item
					.delivery-company__img-box
						img.delivery-company__img(src="assets/img/log-boxberry.png", alt='')
				.delivery-company__item
					.delivery-company__img-box
						img.delivery-company__img(src="assets/img/logo-line.png", alt='')
				.delivery-company__item
					.delivery-company__img-box
						img.delivery-company__img(src="assets/img/logo-pek.png", alt='')
			.delivery-company__note
				|И любые другие по вашему выбору
