mixin main-screen(data, mods)
	section.main-screen&attributes(attributes)
		.main-screen__container
			.main-screen__wrap
				.main-screen__column.main-screen__column_pos_1
					.main-screen__desc
						| Интернет-магазин Alomart.ru осуществит бережную доставку вашего заказа по Самаре.
						|	Вы можете заказать доставку на дом, либо забрать свой заказ самовывозом.

				.main-screen__column.main-screen__column_pos_2
					.main-screen__img-box
						img.main-screen__img(src="assets/img/s-delivery.svg", alt='')
