//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var deliveryOtherList = [
		{
				title_1: "В день обращения",
				title_2: "На следующий день",
				head: "В пределах МКАД",
				price_1: "<b>740 руб.</b>",
				price_2: "<b>540 руб.</b>",
		},
		{
				title_1: "В день обращения",
				title_2: "На следующий день",
				head: "До 10 км от МКАД",
				price_1: "<b>1050 руб.</b>",
				price_2: "<b>840 руб.</b>",
		},
		{
				title_1: "В день обращения",
				title_2: "На следующий день",
				head: "От 10 км от МКАД",
				price_1: "<b>1050 руб. </b>+ 30 руб. за каждый км",
				price_2: "<b>840 руб. </b>+ 30 руб. за каждый км",
		},
	]

		deliveryListList = [
			{
				"title": "А",
				"items": [
					{
					"name": "Абакан",
					"active": false
					},
					{
					"name": "Анадырь",
					"active": false
					},
					{
					"name": "Архангельск",
					"active": false
					},
					{
					"name": "Астрахань",
					"active": false
					}
				]
			},
			{
				"title": "Б",
				"items": [
					{
					"name": "Барнаул",
					"active": true
					},
					{
					"name": "Белгород",
					"active": false
					},
					{
					"name": "Биробиджан",
					"active": false
					},
					{
					"name": "Благовещенск",
					"active": false
					},
					{
					"name": "Брянск",
					"active": false
					}
				]
			},
			{
				"title": "В",
				"items": [
					{
					"name": "Великий Новгород",
					"active": false
					},
					{
					"name": "Владивосток",
					"active": false
					},
					{
					"name": "Владикавказ",
					"active": false
					},
					{
					"name": "Владимир",
					"active": false
					},
					{
					"name": "Волгоград",
					"active": false
					},
					{
					"name": "Вологда",
					"active": true
					},
					{
					"name": "Воронеж",
					"active": false
					}
				]
			},
			{
				"title": "Г",
				"items": [
					{
					"name": "Грозный",
					"active": false
					}
				]
			},
			{
				"title": "Е",
				"items": [
					{
					"name": "Евпатория",
					"active": false
					},
					{
					"name": "Екатеринбург",
					"active": true
					}
				]
			},
			{
				"title": "И",
				"items": [
					{
					"name": "Иваново",
					"active": false
					},
					{
					"name": "Ижевск",
					"active": false
					},
					{
					"name": "Иркутск",
					"active": true
					}
				]
			},
			{
				"title": "К",
				"items": [
					{
					"name": "Казань",
					"active": true
					},
					{
					"name": "Калининград",
					"active": false
					},
					{
					"name": "Калуга",
					"active": false
					},
					{
					"name": "Кемерово",
					"active": false
					},
					{
					"name": "Киров",
					"active": false
					},
					{
					"name": "Кострома",
					"active": false
					},
					{
					"name": "Краснодар",
					"active": true
					},
					{
					"name": "Красноярск",
					"active": true
					},
					{
					"name": "Курган",
					"active": false
					},
					{
					"name": "Курск",
					"active": false
					},
					{
					"name": "Кызыл",
					"active": false
					},
				]
			},
			{
				"title": "Л",
				"items": [
					{
					"name": "Л",
					"active": false
					}
				]
			},
			{
				"title": "М",
				"items": [
					{
					"name": "Магадан",
					"active": false
					},
					{
					"name": "Магас",
					"active": false
					},
					{
					"name": "Майкоп",
					"active": false
					},
					{
					"name": "Махачкала",
					"active": false
					},
					{
					"name": "Москва",
					"active": false
					},
					{
					"name": "Мурманск",
					"active": false
					}
				]
			},
			{
				"title": "Н",
				"items": [
					{
					"name": "Назрань",
					"active": false
					},
					{
					"name": "Нальчик",
					"active": false
					},
					{
					"name": "Нижний Новгород",
					"active": true
					},
					{
					"name": "Нижний Тагил",
					"active": false
					},
					{
					"name": "Новокузнецк ",
					"active": false
					},
					{
					"name": "Новороссийск",
					"active": false
					},
					{
					"name": "Новосибирск",
					"active": false
					},
					{
					"name": "Новочебоксарск",
					"active": false
					},
					{
					"name": "Новый Уренгой",
					"active": false
					}
				]
			},
			{
				"title": "О",
				"items": [
					{
					"name": "Омск",
					"active": false
					},
					{
					"name": "Оренбург",
					"active": false
					},
					{
					"name": "Орёл",
					"active": false
					}
				]
			},
			{
				"title": "П",
				"items": [
					{
					"name": "Пенза",
					"active": false
					},
					{
					"name": "Пенза",
					"active": false
					},
					{
					"name": "Петрозаводск",
					"active": false
					},
					{
					"name": "Петропавловск-\n" +
							"Камчатский",
					"active": false
					},
					{
					"name": "Псков",
					"active": false
					}
				]
			},
			{
				"title": "Р",
				"items": [
					{
					"name": "Ростов-на-Дону",
					"active": false
					},
					{
					"name": "Рязань",
					"active": false
					}
				]
			},
			{
				"title": "С",
				"items": [
					{
					"name": "Салехард",
					"active": false
					},
					{
					"name": "Самара",
					"active": false
					},
					{
					"name": "Санкт-Петербург ",
					"active": false
					},
					{
					"name": "Саранск",
					"active": false
					},
					{
					"name": "Севастополь",
					"active": false
					},
					{
					"name": "Симферополь",
					"active": true
					},
					{
					"name": "Смоленск",
					"active": false
					},
					{
					"name": "Сочи",
					"active": false
					},
					{
					"name": "Ставрополь",
					"active": false
					},
					{
					"name": "Стерлитамак",
					"active": false
					},
					{
					"name": "Сургут",
					"active": false
					},
					{
					"name": "Сыктывкар",
					"active": false
					},
				]
			},
			{
				"title": "Т",
				"items": [
					{
					"name": "Тамбов",
					"active": false
					},
					{
					"name": "Тверь",
					"active": false
					},
					{
					"name": "Тольятти",
					"active": false
					},
					{
					"name": "Томск",
					"active": false
					},
					{
					"name": "Тула",
					"active": false
					},
					{
					"name": "Тюмень",
					"active": false
					}
				]
			},
			{
				"title": "У",
				"items": [
					{
					"name": "Улан-Удэ",
					"active": false
					},
					{
					"name": "Ульяновск",
					"active": false
					},
					{
					"name": "Уфа",
					"active": false
					}
				]
			},
			{
				"title": "Х",
				"items": [
					{
					"name": "Хабаровск",
					"active": true
					},
					{
					"name": "Хабаровск",
					"active": false
					}
				]
			},
			{
				"title": "Ч",
				"items": [
					{
					"name": "Чебоксары",
					"active": false
					},
					{
					"name": "Челябинск",
					"active": false
					},
					{
					"name": "Черкесск",
					"active": false
					},
					{
					"name": "Чита",
					"active": false
					}
				]
			},
			{
				"title": "Э",
				"items": [
					{
					"name": "Элиста",
					"active": false
					}
				]
			},
			{
				"title": "Ю",
				"items": [
					{
					"name": "Южно-Сахалинск",
					"active": false
					}
				]
			},
			{
				"title": "Я",
				"items": [
					{
					"name": "Якутск",
					"active": false
					},
					{
					"name": "Ярославль",
					"active": false
					}
				]
			},

		]

	deliveryListDistanceList = [
		{
			"title": "Балашиха",
			"distance": "21 км\n",
		},
		{
			"title": "Видное ",
			"distance": "26 км\n",
		},
		{
			"title": "Долгопрудный ",
			"distance": "25 км\n ",
		},
		{
			"title": "Домодедово",
			"distance": "39 км\n",
		},
		{
			"title": "Жуковский\n",
			"distance": "39 км\n",
		},
		{
			"title": "Зеленоград ",
			"distance": "45 км\n",
		},
		{
			"title": "Коломна \n",
			"distance": "108 км\n",
		},
		{
			"title": "Королев ",
			"distance": "28 км\n",
		},
		{
			"title": "Мытищи ",
			"distance": "24 км\n",
		},
		{
			"title": "Одинцово\n",
			"distance": "25 км\n",
		},
		{
			"title": "Подольск ",
			"distance": "37 км\n",
		},
		{
			"title": "Раменское",
			"distance": "50 км\n",
		},
		{
			"title": "Сергиев Посад ",
			"distance": "74 км\n",
		},
		{
			"title": "Серпухов ",
			"distance": "02 км\n",
		}
	]

	productsScreenList = [
		{
			"title": "Медицинские\n<br>" +
					"маски",
			"img": "assets/img/main/products-screen_1.png",
			"size": ""
		},
		{
			"title": "Рециркуляторы ",
			"img": "assets/img/main/products-screen_2.png",
			"size": true
		},
		{
			"title": "Гигиена\n <br>" +
					"и уборка",
			"img": "assets/img/main/products-screen_3.png",
			"size": true
		},
		{
			"title": "Антисептики",
			"img": "assets/img/main/products-screen_4.png",
			"size": true
		},
		{
			"title": "Защитная \n<br>" +
					"одежда",
			"img": "assets/img/main/products-screen_5.png",
			"size": true
		},
		{
			"title": "Респираторы",
			"img": "assets/img/main/products-screen_6.png",
			"size": ""
		},
		{
			"title": "Перчатки ",
			"img": "assets/img/main/products-screen_7.png",
			"size": ""
		},
		{
			"title": "Защитные\n<br>" +
					"экраны",
			"img": "assets/img/main/products-screen_8.png",
			"size": true
		},
		{
			"title": "Защитные \n<br>" +
					"очки",
			"img": "assets/img/main/products-screen_9.png",
			"size": true
		},
		{
			"title": "Прочее ",
			"img": "assets/img/main/products-screen_10.png",
			"size": true
		},
		{
			"title": "Спортивные \n<br>" +
					"товары",
			"img": "assets/img/main/products-screen_11.png",
			"size": true
		},
		{
			"title": "Оборудование ",
			"img": "assets/img/main/products-screen_12.png",
			"size": ""
		}
	]

	mainMenuList = [
		{
			"title": "Маски\n",
			"id": "mask",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Респираторы\n\n",
			"id": "rasp",
			"active_product": true,
			"items": [
				{"title": "Респираторы\n 1"},
				{"title": " Респираторы\n 2"},
				{"title": " Респираторы\n 3"},
				{"title": " Респираторы\n 4"},
				{"title": " Респираторы\n 4"},
				{"title": " Респират Респираторы Респираторыоры\n 4"},
			]
		},
		{
			"title": "Перчатки\n",
			"id": "perch",
			"active_product": true,
			"items": [
				{"title": "Перчатки специализированные\n 1"},
				{"title": " Перчатки хирургические синтетические\n\n 2"},
				{"title": " Перчатки хирургические латексные\n\n 3"},
				{"title": " Трикотажные\n 4"},
				{"title": " Держатель для перчаток\n 4"},
				{"title": " Держатель для перчаток\n 4"},
				{"title": " Перчатки нитриловые\n 4"},
				{"title": " Перчатки латексные\n 4"},
				{"title": " Перчатки виниловые\n 4"},
			]
		},
		{
			"title": "Антисептики\n",
			"id": "anti",
			"active_product": false,
			"items": [
				{"title": "Антисептики\n 1"},
				{"title": " Антисептики\n 2"},
				{"title": " Антисептики\n 3"},
				{"title": " Антисептики\n 4"},
			]
		},
		{
			"title": "Оборудование\n\n",
			"id": "oborudovanie",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Рециркуляторы\n",
			"id": "racirkul",
			"active_product": true,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Гигиена и уборка\n\n",
			"id": "gigiena",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Защитная одежда\n\n",
			"id": "zazh",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Защитные очки\n\n",
			"id": "ochki",
			"active_product": true,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Защитные экраны\n\n\n",
			"id": "ecrani",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Прочее\n\n\n",
			"id": "other",
			"active_product": true,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		},
		{
			"title": "Спортивные товары\n\n\n",
			"id": "sport",
			"active_product": false,
			"items": [
				{"title": "Маски\n 1"},
				{"title": " Маски\n 2"},
				{"title": " Маски\n 3"},
				{"title": " Маски\n 4"},
			]
		}
	]
